<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="~/css/style.css" rel="stylesheet" />

<form id="form1">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Code Challenge
                </h1>
            </div>
        </div>
        <div class="main">
            <p>
                Write a small user friendly program that allows the user to type a URL for a given website page and the program will then do the following:
            </p>
            <ul>
                <li>
                    List all images and show them to the user appropriately in a carousel or gallery control of some kind (borrow from the internet or write your own)
                </li>
                <li>
                    Count all the words (display the total) and display the top 10 occurring words and their count (eithers as a table or chart of some kind, again you choose or write your own)
                </li>
            </ul>

            <div>
                <ul>
                    <li>
                        <a href="/ImageScraper/index">Click Here to test Image Carousel</a>
                    </li>
                    <li>
                        <a href="/WordCount/index">Click Here to test Word Count</a>
                    </li>
                </ul>
            </div>
            
        </div>

    </div>
    <div class="footer">
    </div>
</form>